:root{
    --peach: #E7816B;
    --black: #1D1C1E;
    --white: #ffffff;
    --light-peach: #FFAD9B;
    --dark-gray: #333136;
    --light-gray: #F1F3F5;

    --primary-family: 'Jost', sans-serif;
    --secondary-family: 'League Spartan', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--primary-family);
    font-weight: 400;
}

.container{
    margin: 0 auto;
    max-width: 1141px;
    padding: 0 15px;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----------------------- HEADER START ----------------------- */
.site-header{
    padding-top: 64px;
    padding-bottom: 67px;
    z-index: 10;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    height: 27px;
}

.header__nav-list{
    display: flex;
    gap: 42px;
}

.header__nav-item-link{
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: var(--dark-gray);
}

.header__nav-item:hover{
    border-bottom: 1px solid var(--dark-gray);
}

.header__burger-menu{
    display: none;
}

.header__logo-img{
    width: 202px;
    height: 27px;
}

/* ----------------------- HEADER END ----------------------- */

/* ------------------------ HERO START -------------------- */
.hero{
    margin-bottom: 160px;
    overflow: hidden;
    z-index: 10;
}

.hero__container{
    background-color: var(--peach);
    border-radius: 15px;
    padding: 145px 95px;

    background-image: url(../images/hero-bg-oval.png);
    background-repeat: no-repeat;
    background-position: right;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero__text-wrapper{
    max-width: 540px;
}

.hero__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: var(--white);
    margin-bottom: 20px;
}

.hero__info{
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    margin-bottom: 40px;
}

.hero__btn{
    padding: 18px 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 15px;
    color: var(--dark-gray);

    z-index: 10;
}

.hero__btn:hover{
    background-color: var(--light-peach);
    color: var(--white);
}

.hero__img{
    position: absolute;
    right: 0;    
    top: 0;
}
/* ------------------------ HERO END ---------------------- */

/* ------------------------ MAIN CARDS START ---------------------- */
.main-card{
    margin-bottom: 160px;
}

.main-card__wrapper{
    width: 1112px;
    height: 640px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 30px;
    column-gap: 24px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e7816bcc;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; 
    border-radius: 15px;
}

.card:hover::before {
    opacity: 1; 
}

.main-card__text {
    position: relative;
    z-index: 2; 
    color: var(--white);
    text-align: center;
    /* opacity: 0 ; */
    transition: opacity 0.3s ease-in-out;
}

.main-card1{
    grid-row: span 2;
    grid-column: span 1;

    background-image: url(../images/grid1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}


.main-card2{
    /* grid-column: span 1;
    grid-row: span 1; */

    background-image: url(../images/grid2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.main-card3{
    /* grid-column: span 1;
    grid-row: span 1; */

    background-image: url(../images/grid3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.main-card__text-title{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;

    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.main-card__text-subtitle{
    font-weight: 500;
    font-size: 15px;
    line-height: auto;
    letter-spacing: 5px;

    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* ------------------------ MAIN CARDS END ---------------------- */

/* ------------------------ WHY-CHOOSE START ---------------------- */
.why-choose__wrapper{
    margin-bottom: 380px;
}

.why-choose__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.why-choose__item{
    text-align: center;
    max-width: 350px;
}

.why-choose__img{
    width: 202px;
    height: 202px;
    margin-bottom: 48px;
}

.why-choose__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    color: var(--dark-gray);

    margin-bottom: 32px;
    text-transform: uppercase;
}

.why-choose__info{
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-gray);
}
/* ------------------------ WHY-CHOOSE END ---------------------- */

.end-wrapper{
    position: relative;
}
/* ------------------------ GET-IN TOUCH START ------------------ */
.getin-touch{
    position: absolute;
    top: -230px;
    left: 50%;
    transform: translateX(-50%);
}
.getin-touch__wrapper{
    padding: 72px 95px 46px;
    background-color: var(--peach);
    background-image: url(../images/bg-oval.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1111px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    gap: 309px;
}

.getin-touch__text-wrapper{
    width: 459px;
}

.getin-touch__title{
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: var(--white);  
    margin-bottom: 20px;  
}

.getin-touch__info{
    font-size: 16px;
    line-height: 26px;
    color: var(--white)
}

.getin-touch__btn{
    padding: 18px 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 15px;
    color: var(--dark-gray);

}

.getin-touch__btn:hover{
    background-color: var(--light-peach);
    color: var(--white);
}

/* ------------------------ GET-IN TOUCH END ------------------- */

/* ------------------------ FOOTER START ---------------------- */
.footer{
    background-color: var(--black);
    padding: 144px 0 72px;
}
.footer__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--white);
    margin-bottom: 31px;
}

.footer__nav-list{
    display: flex;
    justify-content: space-between;
    gap: 42px;
}

.footer__nav-item-link{
    color: var(--white);
}

.footer__list{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-item__title, .footer-item__info{
    color: var(--white);
    font-size: 16px;
    line-height: 26px;
}

.footer-icons{
    display: flex;
    gap: 16px;
}
/* ------------------------ FOOTER END ---------------------- */
/* ----------------------- MEDIA QUERIES START ----------------------- */
@media only screen and (max-width: 1242px){
    .getin-touch__wrapper{
        gap: 280px;
    }

    
}

@media only screen and (max-width: 992px){
    .hero__container{
        align-items: center;
        flex-direction: column;
        max-height: 889px;
        padding: 60px 58px;
    }

    .hero__text-wrapper{
        text-align: center;
        max-width: 80%; 
    }

    .hero__img{
        position: static;
        padding-top: 0;
    }

    .main-card__wrapper{
        grid-template-columns: auto;
        max-width: 100%;
        gap: 25px;
    }

    .main-card1{
        grid-row: span 1;
        grid-column: span 1;
    }

    .getin-touch__wrapper{
        flex-direction: column;
        gap: 32px;
    }

    
}

@media only screen and (max-width: 768px){
    .why-choose__list{
        flex-direction: column;
    } 

    .why-choose__list{
        align-items: start;
    }
    .why-choose__item{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        gap: 48px;
        max-width: 100%;
    }   

    .why-choose__text-wrapper{
        text-align: left;
    }

    .getin-touch__wrapper{
        max-width: 90%;
    }

    


}

@media only screen and (max-width: 576px){
    .site-header{
        padding-bottom: 0;
    }
    .header__nav{
        display: none;
    }

    .header__burger-menu{
        display: block;
    }

    .hero__text-wrapper{
        max-width: 100%;
    }

    .why-choose__item{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .why-choose__text-wrapper{
        text-align: center;
    }
    .why-choose__img{
        margin-bottom: 30px;
    }

    .getin-touch__wrapper{
        max-width: 75%;
        text-align: center;

    }

    .footer__header{
        flex-direction: column;
    }

    .footer__wrapper{
        margin: 0 auto;
    }

    .header__logo-img{
        margin-bottom: 65px;
    }

    .footer__nav-list{
        flex-direction: column;
        text-align: center;
    }

    .footer__list{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 40px;
    }

    .footer-item{
        text-align: center;
    }

    

}

/* ----------------------- MEDIA QUERIES END ----------------------- */