:root{
    --peach: #E7816B;
    --black: #1D1C1E;
    --white: #ffffff;
    --light-peach: #FFAD9B;
    --dark-gray: #333136;
    --light-gray: #F1F3F5;

    --primary-family: 'Jost', sans-serif;
    --secondary-family: 'League Spartan', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-family);
    font-weight: 400;
    color: #fff;
}

.container{
    margin: 0 auto;
    max-width: 1141px;
    padding: 0 15px;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----------------------- HEADER START ----------------------- */


/* ----------------------- HEADER END ----------------------- */